.botao-link {
  text-decoration: none;
  color: white;
}

button.btn-novo-usuario {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  color: white;
}

button.btn-entrar {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}